@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Roboto","Arial";
  color: #333;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
