

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 50px;
}

.left-section{
  align-items: center;
}

.right-section{
  align-items: center;
}

.thumbnail {
  height: auto;
  width: 100%;
  
  padding-bottom: 30px;
}

.book-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.add-to-list-button {
  margin-bottom: 30px;
}

.title {
  padding-bottom: 10px;
}

.span-label {
  color: rgb(140, 131, 131);
}



