@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MC-logo {
  height:100px;
}

.MC-logo-container {
  background-color: 07713c;
}

.banner-left, .banner-right {
    padding-top: 20px;
    background-color: #07713c;
    flex: 1;
    display: flex;
    font-size: 36px;
    font-weight: bold;
}

.banner-left {
  justify-content: right;
}

.banner-right {
  justify-items: left;
}

.navbar-container {
  background-color: #07713c;
  padding-bottom: 8px;
  border-top: solid;
  border-bottom: solid;
}

.nav__links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav-search {
  margin-left: 24px;
}